[access]
	inheritFrom = All-Projects
[access "refs/for/refs/heads/*"]
	pushMerge = group Asus z5 maintainers
[access "refs/heads/*"]
	delete = group Asus z5 maintainers
	push = +force group Asus z5 maintainers
	pushMerge = group Asus z5 maintainers
	label-Code-Review = -2..+2 group Asus z5 maintainers
	label-Verified = -1..+1 group Asus z5 maintainers
	submit = group Asus z5 maintainers
