allow system_app fts_sysfs:file rw_file_perms;
#allow system_app fts_gesture_mode:file rw_file_perms;
#allow system_app fts_gesture_buf:file { getattr open read write };
